DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=10.52.83.10,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://10.52.83.10
DJANGO_LANGUAGE_CODE=uk
DJANGO_TIME_ZONE=Europe/Kyiv

DB_ENGINE=django.db.backends.mysql
DB_NAME=warehouse_db
DB_USER=warehouse_user
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=3306
